.dialog{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Chakra Petch", serif !important;
	/* background-color: #033f77;
	color: #88e23b; */
}

.form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 10px 10px;
	justify-content: center;
	align-items: center;
	padding: 10px 50px;
}
