/* You can add global styles to this file, and also import other style files */
body {
	background-color: rgb(1, 7, 43);
}

/* .content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: 1fr;
	gap: 10px 10px;
	justify-content: center;
	align-items: center;
	padding: 10px 50px;
}

.card {
	color: #88e23b;
	background-color: #02294d;;
	position: relative;
	min-height: 515px;
}

.card__options{
	position: absolute;
	top: 0;
	right: 0;
}

.card__options :hover {
	color: red;
	cursor: pointer;
}

.card__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-content: center;
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-style: normal;

}

.card__header-info{
	font-family: "Chakra Petch", serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__header h2{
	margin-bottom: 2px;
}

.card__header-status--alive{
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(35, 245, 7);
	border-radius: 50%;
}

.card__header-status--dead{
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(247, 6, 6);
	border-radius: 50%;
}

.card__header-status--unknown{
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(163, 163, 163);
	border-radius: 50%;
}

.card__body-description{
	font-family: "Chakra Petch", serif;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.card__body-description p{
	margin: 2px;
}


.card__body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}

.material-symbols-outlined :hover {
	color: red;
	cursor: pointer;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
